@import url("variables.css");

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Gropled';
    src: url(../fonts/Gropled-Bold\ —\ копия.otf) format('otf');
    font-weight: bold;
}

.post__title {
    font-family: 'Gropled';
    font-weight: 700;
    font-size: 52px;
    color: #25262A;
    margin: 0;
}

.menu__filter {
    margin-top: 82px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.filter__link {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #D5D3D3;
    text-decoration: none;
    border: none;
    background: transparent;
    padding-block: 7px;
    padding-inline: 22px;
}

.article__flex {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 75px;
    row-gap: 118px;
    margin-top: 95px;
    margin-bottom: 130px;

}

.filter__link--selected {
    background: #25262A;
    border-radius: 10px;
    color: #FFFFFF;
}
.articles {
    margin-bottom: 75px;
    border-radius: 30px;
}
.menu {
    position: relative;
}
.heart__sticker {
    position: absolute;
    top: -20px;
    left: 351px;
}
.programm__sticker {
    position: absolute;
    top: -108px;
    left: 487px;
}
