@import url("variables.css");

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
}

.container {
    max-width: 1415px;
    margin: 0 auto;
}

.banner__wrapper {
    background: url(../img/article/bannerarticleimg.jpg) center center no-repeat;
    background-size: cover;
    height: 490px;
    padding: 30px 45px 57px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 12px;
    position: relative;
}

.banner__subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: var(--col-white);
    opacity: 0.6;
    text-decoration: none;
}

.banner__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: var(--col-white);
}

.banner__text-wrapper {
    position: absolute;
    left: 44px;
    bottom: 57px;
}

.btn__save {
    border: none;
    background: none;
    top: 38px;
    right: 54px;
    position: absolute;
}

/* .promotion {
    background: var(--col-blue);;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 92px auto 179px;
} */
.promotion__card {
    width: 1415px;
    background: var(--col-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 92px auto 179px;
    height: 609px;
}

.promotion__text {
    padding: 12px 53px 39px 55px;
}

.promotion__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: var(--col-white);
}

.promotion__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: var(--col-white);
    margin-top: 137px;
}

.rule__card {
    width: 1415px;
    height: 927px;
    background: var(--col-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 92px auto 179px;
}

.rule__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: var(--col-black);
    padding: 106px 100px;
    line-height: 144%;
}

.comments__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52.3214px;
    line-height: 61px;
    color: var(--col-black);
}

.divider {
    height: 2px;
    position: relative;
    background-color: rgba(202, 200, 200, 0.9);
    margin-bottom: 20px;
}

.divider--narrow {
    height: 2px;
    background-color: var(--col-blue);
    width: 40%;
}

.comments__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 43px 0 115px;
}

.comments__card {
    display: grid;
    grid-template-areas:
        'avatar name'
        'avatar comment';
    grid-template-columns: 125px 492px;
    grid-template-rows: max-content max-content;
    gap: 19px 25px;
    width: calc((100% - 39px)/2);
    padding: 40px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    box-sizing: border-box;
    background-color: var(--col-white);
    font-family: raleway;
}

.comments__img {
    grid-area: avatar;
    width: 100%;
    border-radius: 50%;
}

.card__name {
    grid-area: name;
    width: 100%;
    margin-block: 0;
}

.card__text {
    grid-area: comment;
    width: 100%;
    margin-block: 0;
}

.article__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: var(--col-black);
}

.divider {
    height: 2px;
    position: relative;
    background-color: rgba(202, 200, 200, 0.9);
    margin-bottom: 20px;
}

.rec__item {
    background-color: var(--col-white);
    border-radius: 35px;
    box-sizing: border-box;
    display: grid;
    row-gap: 15px;
    text-decoration: none;
}

.rec__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: var(--col-black);
    text-transform: uppercase;
    margin-left: 30px;
    margin: 0 0 0 26px;
}

.rec__addinfo {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--font-col);
    margin-left: 30px;
    margin: 0 0 17px 26px;
}

.rec__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0 40px;
}

.rec__img {
    border-radius: 30px;
    height: auto;
    width: 100%;
}