@import url("variables.css");

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Gropled';
    src: url(../fonts/Gropled-Bold\ —\ копия.otf) format('otf');
    font-weight: bold;
}
body {
background-color: var(--col-bg);
scroll-behavior: smooth;
}
.hidden {
    display: none;
}