@import url("variables.css");

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
}
header {
    margin-block: 44px 100px;
    margin-inline: 27px;
}
.wrapper {
    background: var(--col-white);
    border-radius: 30px;
}

.services {
    display: flex;
    justify-content: space-between;
    padding-inline: 65px;
    align-items: center;
    height: 149px;
    font-family: "Raleway";
}
.services__search {
    background-image: url(../img/common/search.svg);
    background-repeat: no-repeat;
    background-position: center right 15px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    padding: 10px 50px 10px 25px;
    border: none;
    color: black;
    position: relative;
    background-color: rgba(242, 242, 242, 0.5);
    width: 621px;
    height: 49px;
    box-sizing: border-box;
}
.services__search::placeholder {
    color: var(--col-black);
}

.nav {
    display: flex;
    flex-direction: row;
    column-gap: 57px;
}

.nav__link {
    padding: 9px 15px;
    background: var(--col-grey);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--col-black);
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Raleway';
}
.nav__link:hover,.nav__link--selected {
    background-color: var(--col-black);
    color: var(--col-white);
}
.logo {
    width: 65px;
    height: 65px;
    background: var(--col-black);
    border-radius: 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__img {
    width: 51px;
    height: 23px;
}