@import url("variables.css");

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
}
.promo {
    margin-bottom: 57px;
}

.promo__banner {
    background: url("./../img/about/Rectangle\ 4236.jpg") center center no-repeat;
    background-color: var(--col-bg-light);
    height: 483px;
    padding: 45px 29px;
    box-sizing: border-box;
    border-radius: 30px;
}

.item {
    background-color: var(--col-blue);
    padding: 90px 36px 60px 36px;
    border-radius: 12px;
    color: white;
    margin-bottom: 20px;
}

.btn {
    border-radius: 25px;
    background-color: var(--col-green);
    font-size: 28px;
    padding: 10px 30px;
    border: none;
    color: black;
    box-sizing: border-box;
    display: block;
    max-width: 166px;
    text-align: center;
    font-family: raleway;
    text-decoration: none;
}

.promo_text {
    font-size: 28px;
    font-weight: 400;
    width: 401px;
    color: white;
    margin-block: 49px 33px;
    font-family: raleway;
}

.promo_title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0;
    color: white;
    font-family: raleway;
}

.promo__illustrations {
    margin-left: -36px;
}
.cover {
    max-width: 1400px;
    margin: 0 auto;
    width: 95%;
    padding: 1px;
}
.topic__square {
    height: 22vw;
    width: 22vw;
    background-color: var(--col-blue);
    border-radius: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics__flex {
    display: flex;
    gap: 90px;
}

.column {
    display: flex;
    flex-direction: column;
}

.topics__card {
    display: flex;
    flex-direction: row;
    width: 50%;
    border-radius: 30px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway';
}

.topics__card--white {
    background-color: white;
}

.topics__card--blue {
    background-color: #3935FE;
}

.topics__card-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    margin: 0;
    margin-bottom: 70px;
}

.topics__card-title--black {
    color: #232627;
}

.topics__card-title--white {
    color: #ffffff;
}

.topics__card-date {
    border-radius: 17px;
    font-size: 48px;
    padding: 19px 31px;
    box-sizing: border-box;
    max-width: 287px;
    text-align: center;
    margin: 0;
}

.topics__card-date--white {
    background-color: #ffffff;
    color: #3935FE;
}

.topics__card-date--black {
    background-color: #232627;
    color: #ffffff;
}

.topics__card-img {
    max-width: 233px;
    height: 233px;
}

.news {
    background-color: black;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

.title {
    color: var(--col-white);
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 57px;
    line-height: 67px;
}

.addinfo {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
}

.title-group {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 15px;
    gap: 50px;
}

.divider {
    height: 2px;
    position: relative;
    background-color: var(--col-dark-gray);
    margin-bottom: 52px;
}

.highlight {
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background-color: var(--col-gray);
}

.popular__flex {
    display: grid;
    grid-template-columns: 1fr 1fr 66px;
    grid-template-rows: 409px;
    column-gap: 65px;
    align-items: center;
    margin-top: 100px;
}

.popular__card {
    border-radius: 30px;
    position: relative;
    padding: 24px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.popular__card-text {
    margin-top: 110px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.popular__card-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background: transparent;
    border: none;
    }

.popular__card--design {
    background: url("./../img/about/hsedesign.png") center center no-repeat;
    background-color: var(--col-blue);
}

.popular__card--maths {
    background: url("./../img/about/msu.png") center center no-repeat;
    background-color: var(--col-blue);
}
.popular__arrow{
    border-radius: 50%;
    width: 66px;
    height: 66px;
    border: none;
    background: transparent;
    border: 1px solid #FFFFFF;
}
.rec__img {

    background: #ABFC4F;
}

.physics {
    justify-content: flex-start;
    align-items: flex-end;
    background-color: white;
}

.save {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.save svg path {
    fill: white;
}

.red {
    fill: red !important;
}
.rec__flex {
    display: grid;
    gap: 25px;
    padding: 0 0 50px 0;
    grid-template-columns: repeat(3,1fr);
}

.rec__uni {
    position: relative;
}
.rec__hashtag {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #3935FE;
    text-transform: uppercase;
    margin: 0;
}
.rec__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin: 0;
}
.rec__addinfo {
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #737C9B;
    margin: 0;

}
.grow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}


.rec__title {
    margin: 0;
    font-size: 30px;
}


.rec__p {
    margin: 0;
    width: 70%;
    color: #757575;
    font-size: 20px;
    font-weight: 500;
}

.rec__img {
    height: 100%;
    border-radius: 10px;
    width: 100%;
}
